<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Brique List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Liste d'étapes</h1>
      <a href="addBrique">Ajouter une étape</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Titre</th>
               <th>Description</th>
            </tr>
            <tr th:each ="brique : ${briques}">
               <td th:utext="${brique.titre}">...</td>
               <td th:utext="${brique.description}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>